@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@800&display=swap');

:root {
  --light-blue: #4B6CC1;
  --dark-olive-green: #678e7a7f;
  --container-min-width: 75%;
}

* , *:before, *:after {
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}


img, video {
  width: 100%;
  height: auto;
}

html{
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

h1 {
  color: #4B6CC1;
}

.divider {
  padding: 0.2rem;
  background-color: var(--light-blue);
  min-width: 40%;
  border-radius: 3rem;
  margin-bottom: 2rem;
}

/*------- NAVEGACION --------*/

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--light-blue);
  min-width: 100%;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*------- ABOUT ME --------*/
#aboutme {
  /*background-color:#678e7a7f;*/
  display: flex; 
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 0.2rem;
  column-gap: 0.2rem;
  margin: 2rem 0;
}

/*#aboutme div:nth-child(1){
  order: -1;
}*/

#aboutme > img {
  border-radius: 50%;
  width: 15%;
  height: 15%;
}

#aboutme p{
  font-size: larger;
}

#links .icon{
  width: 3%;
  height: 10%;
  color: var(--light-blue);
} 

/*------- LANGUAGES --------*/
#language, #projects, #contactMe {
  display: flex;
  flex-direction: column; 
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 0.2rem;
  column-gap: 0.2rem;
  margin: 2rem 0;
}

#language ul {
  min-width: var(--container-min-width);
  align-items: center;
  color: white;
  background-color: var(--dark-olive-green);
  background-color: 80%;
  border-radius: 0.8rem;
  padding: 3%;
}


/*------- PROJECTS --------*/
#projects table {
  min-width: var(--container-min-width);
  align-items: center;
  color: white;
  background-color: var(--dark-olive-green);
  background-color: 80%;
  border-radius: 0.8rem;
  padding: 3%;
}

#projects tr {
  text-align: center;
}

#projects td {
  padding: 2rem;
}

#projects th {
  font-size: x-large;
}

#projects svg {
  fill: var(--light-blue);
  width: 15%;
  height: auto;
}

/*------- CONTACT ME --------*/
#contactMe form {
  min-width: var(--container-min-width);
  align-items: center;
  color: white;
  background-color: var(--dark-olive-green);
  background-color: 80%;
  border-radius: 0.8rem;
  padding: 5%;
}

#contactMe label {
  padding: 10rem 0rem;
}

/*------- FOOTER --------*/
footer {
  background-color: var(--light-blue);
  padding: 14px;
}


.overlay{
  background: rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;

}

.btn-abrir-popup{
  border: 0;
  background: none;
  margin: 0;
  padding: 0;
}

.btn-abrir-popup:hover{
  cursor: pointer;
}

.overlay.active {
  visibility: visible;
}

.popup{
  background:#f8f8f8 ;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .3);
  border-radius: 3px;
  padding: 20px;
  text-align: center;
  width: 30rem;

}

.popup a:nth-child(1){
  align-content: flex-end;
}

.popup .btn-cerrar-popup{
  font-size: 16px;
  line-height: 16px;
  display: block;
  text-align: right;
  color: var(--light-blue);
  transition: .3s ease all;
}

.popup .btn-cerrar-popup:hover{
  color: red;
}

.popup h3 {
  color: var(--light-blue);
  font-size: x-large;

}
