@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@800&display=swap');

:root {
  --light-blue: #4B6CC1;
  --dark-olive-green: #678e7a7f;
}



* , *:before, *:after {
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img, video {
  width: 100%;
  height: auto;
}

html{
  height: 100%;
  width: 100%;
}

body {
  /*display: flex;*/
  margin: 0;
}

h1 {
  color: #4B6CC1;

}

/*------- NAVEGACION --------*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--light-blue);
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*------- ABOUT ME --------*/
#aboutme > img{
  border-radius: 50%;
  width: 15%;
  height: 15%;
}

#aboutme p{
  font-size: larger;
}

#links .icon{
  width: 3%;
  height: 10%;
  color: var(--light-blue);
} 

/*------- LANGUAGES --------*/
#language ul {
  align-items: center;
  color: white;
  background-color: var(--dark-olive-green);
  background-color: 80%;
  border-radius: 0.8rem;
  margin: 3rem 15%;
  padding: 3%;
}



/*------- PROJECTS --------*/
#projects table {
  align-content: center;
  color: white;
  background-color: var(--dark-olive-green);
  background-color: 80%;
  border-radius: 0.8rem;
  margin: 3rem 15%;
  padding: 3%;
}

#projects img {
  width: 30%;
  height: auto;
}

/*------- CONTACT ME --------*/
#contactMe form {
  align-items: center;
  color: white;
  background-color: var(--dark-olive-green);
  background-color: 80%;
  border-radius: 0.8rem;
  margin: 3rem 15%;
  padding: 3%;
}

#contactMe label {
  padding: 10rem 0rem;
}

/*------- FOOTER --------*/
footer {
  background-color: var(--light-blue);
  padding: 14px;
}


