@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@800&display=swap');

:root {
  --light-blue: #4B6CC1;
  --dark-olive-green: #678e7a7f;
  --container-min-width: 60%;
}

* , *:before, *:after {
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}


img, video {
  width: 100%;
  height: auto;
}

html{
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

h1 {
  color: #4B6CC1;
  font-weight:900;
  max-width: var(--container-min-width);
}

#language, #projects, #contactMe {
  display: flex;
  flex-direction: column; 
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 0.2rem;
  column-gap: 0.2rem;
  margin: 2rem 0;
}

.divider {
  padding: 0.2rem;
  background-color: var(--light-blue);
  min-width: 40%;
  border-radius: 3rem;
  margin-bottom: 2rem;
}

/*------- NAVEGACION --------*/



nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--light-blue);
  min-width: 100%;
  font-weight: 600;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

/*------- ABOUT ME --------*/
.aboutme {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 2rem 0;
}

.aboutme #perfil {
  border-radius: 50%;
  width: 15rem;
  height: auto;
}

.aboutme p {
  font-size: 2rem;
  text-justify: distribute-all-lines;
  max-width: 50%;
}

/*------- LANGUAGES --------*/

#language ul {
  min-width: var(--container-min-width);
  align-items: center;
  color: white;
  background-color: var(--dark-olive-green);
  background-color: 80%;
  border-radius: 0.8rem;
  padding: 3%;
  list-style-type: none;
  font-size: larger;
  text-align: center;
}

#language li{
  font-weight: 500;
  padding: 0.5rem;
}

#language svg {
  fill: red;
  fill-opacity: 80%;
}


/*------- PROJECTS --------*/
#projects table {
  min-width: var(--container-min-width);
  align-items: center;
  color: white;
  background-color: var(--dark-olive-green);
  background-color: 80%;
  border-radius: 0.8rem;
  padding: 3%;
}

#projects tr {
  text-align: center;
}

#projects td {
  padding: 2rem;
}

#projects th {
  font-size: x-large;
}

#projects svg {
  fill: var(--light-blue);
  width: 8rem;
  height: auto;
}

/*------- CONTACT ME --------*/
#contactMe form {
  min-width: var(--container-min-width);
  color: #ffffff;
  background-color: var(--dark-olive-green);
  background-color: 80%;
  border-radius: 0.8rem;
  padding: 5%;
}

#contactMe label { padding: 0.5rem 0rem;}

#contactMe span { color: var(--light-blue) ;}

#contactMe input, textarea {
  background-color: #f0f4f2;
  color: var(--light-blue);
  border: 0px;
  border-radius: 0.2rem;
  margin: .2rem 0rem;
  padding: .7rem;
  min-width: 100%;
}

#contactMe button {
  background-color: var(--light-blue);
  border: 0px;
  border-radius: 2rem;
  color: white;
  padding: .7rem 1.5rem;
  margin-top: 0.6rem;
  font-size:medium;
  font-weight: 900;
}

#contactMe button:hover {
  cursor: pointer;
}

.contactme {
  display: grid;
  grid-template-columns:0.3fr 1fr 1fr 0.3fr 1fr 1fr 0.3fr; 
  grid-template-rows: 0.4fr 0.4fr 0.4fr 0.4fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    " . name name . email email . "
    " . issue issue issue issue issue . "
    " . message message message message message . "
    " . . . . send send . "; 
}

.name { grid-area: name;}
.email { grid-area: email; }
.issue { grid-area: issue; }
.message { grid-area: message; }
.send { grid-area: send; justify-self: end;}


/*------- FOOTER --------*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-blue);
  padding: 14px;
}

footer .icon{
  width: 2rem;
  height: auto;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown svg {
  fill: white;
  width: 2rem;
  height: auto;
}

.dropdown-content {
  display: none;
  position: absolute;
  bottom: 39px;
  background-color:var(--light-blue);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  border-radius: 0.8rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover {
  cursor: pointer;
}

/*------- POPUP --------*/
.overlay{
  background: rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.textButton {
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  margin: 0% 5%;
}

.overlay iframe {
  width: 90%;
  height: 75%;
  border-radius: 0.6rem;
}

.btn-abrir-popup{
  border: 0;
  background: none;
  margin: 0;
  padding: 0;
}

.btn-abrir-popup:hover{
  cursor: pointer;
}

.overlay.active {
  visibility: visible;
}

.popup{
  background:#f8f8f8 ;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .3);
  border-radius: 0.6rem;
  padding: 1rem;
  text-align: center;
  width: 60%;
  height: 60%;
}

.popup .btn-cerrar-popup{
  font-size: 20px;
  line-height: 20px;
  color: var(--light-blue);
}

.popup .btn-cerrar-popup:hover{
  color: red;
}

.popup h3 {
  color: var(--light-blue);
  font-size: x-large;
}

/*------- ARROW UP --------*/

#up svg {
  fill: white;
  width: 2.5rem;
  height: auto;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: var(--light-blue);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#up {
  position:fixed;
  right: 1rem;
  bottom: 4rem;
}



